body{
  margin: 0px;
  padding: 0px 0px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  background: #ffd6d6;
  overflow-x: hidden;
}

body.dark {
  background:#333333; /* dark mode */
  color: #f0f0f0;
}
